@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: #1C1427;
    min-height: 100vh;
    color: white
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
    max-width: 360px;
    min-width: 360px;
    opacity: 1;
}

.tutorial__text {
    margin-bottom: 2%;
}

.hidden {
    opacity: 0;
    transform: translate(-20px);
    transition: .6s;
}

.hidden-off {
    display: block;
    opacity: 1;
    transition: .6s;
    transform: translate(0);
}
.transition {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: .7s;
    transform: translate(0 0 0 0);
}
img {
    image-rendering:pixelated;
}
.pokedex {
    width: 100%;
    max-width: 425px;
}
.pokemon__data {
    position: block;
    font-weight: 400;
    color: #7ECA9C;
    font-size: clamp(10px, 5vw, 25px);
}
.pokemon__name {
    color: #CCFFBD;
    text-transform: capitalize;
}
.form {
    position: block;
    margin: auto;
    width: 100%;
    display: flex;
}
.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: none;
    background-color: #40394A;
    border-radius: 20px 0px 0px 20px;
    font-weight: 600;
    color: white;
    
    font-size: clamp(10px, 5vw, 15px);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b8b8b8;
    opacity: 1; /* Firefox */
}
.input__submit{
    outline: none;
    border: none;
    width: 10%;
    background-color: #4e465a;
    border-radius: 0px 20px 20px 0px;
    font-weight: 600;
    color: white;   
    cursor:pointer; 
}
.center__container {
    background: #40394A;
    border-radius: 20px;
    margin-top: 6%;
    text-align: left;
    padding: 5%;
}
.pokemon__type {
    font-weight: 100;
    font-size: clamp(5px, 2vw, 15px);
    color: #b8b8b8;
    display: flex;
    gap: 1%;
}
.block {
    background-color: #5f556e;
    padding: 3px;
    border-radius: 4px;
    width: fit-content;
}
.image__container {
    margin: auto;
    background-color: #4e465a;
    height: 250px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    margin-bottom: 2%;
}
.pokemon__image {
    height: 80%;
    margin: auto;
}
.img-button {
    padding: 2%;
    outline: none;
    border: none;
    font-size: clamp(10px, 5vw, 15px);
    font-weight: 400;
    color: white;
    background-color: #5f556e;
    cursor: pointer;
}
.btn-prev-img {
    width: 10%;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
}
.btn-next-img {
    width: 10%;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
}
.pokemon__stats {
    margin-top: 2%;
    font-size: clamp(9px, 4vw, 14px);
    text-align: justify;
    color: #b8b8b8;
}
.buttons {
    position: block;
    margin-top: 2%;
    width: 100%;
    display: flex;
    gap: 10px;
}
.button {
    width: 50%;
    padding: 2%;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: clamp(10px, 5vw, 15px);
    font-weight: 400;
    color: white;
    background-color: #5f556e;
    cursor: pointer;
}
.button:active {
    box-shadow: inset -2px 2px 0 #52495f, inset 2px -2px 0 #52495f;
}
.hover-animation:hover {
    opacity: 0.7;
    transition: .2s ease-in-out;
}
